@import "tailwindcss";

/* --------------------------------------------------- VARIABELES --------------------------------------------------- */
@theme {
    --color-white: #F5F5F5;
    --color-black: #191919;
    --color-gray: #878787;

    --color-yellow: #FFD600;
    --color-pink: #FFA5F5;
    --color-green: #00F475;
    --color-purple: #747AF5;
    --color-blue: #AEF0FF;
    --color-red: #FF4742;
}

@theme {
    --font-body: "FT Calhern", sans-serif;
    --font-heading: "FT Calhern Wide", sans-serif;
    --font-hairline: "FT Calhern Hairline", sans-serif;
    --font-normal: "FT Calhern Condensed", sans-serif;
    --font-light: "FT Calhern Light", sans-serif;
}

body { @apply font-body bg-white text-black; }
h1, h2, h3, h4 { @apply font-heading font-bold; }
h1 { @apply text-4xl; }
h2 { @apply text-3xl; }
h3 { @apply text-2xl; }
h4 { @apply text-xl; }
input:focus { outline: none; }

/* ------------------------------------------------- CUSTOM VALUE --------------------------------------------------- */
.custom-underline {
    text-decoration: underline var(--color-black);
    text-decoration-thickness: 0.07rem;
    text-underline-offset: 0.2rem;
}
.custom-underline-red {
    text-decoration: underline var(--color-red);
    text-decoration-thickness: 0.07rem;
    text-underline-offset: 0.2rem;
}

.custom-shadow-s { box-shadow: 8px 7px 0 var(--color-black); }
.custom-shadow-m { box-shadow: 14px 14px 0 var(--color-black); }
.custom-shadow-l { box-shadow: 26px 26px 0 var(--color-black); }

/*.border:focus { border: 2px solid var(--color-black); outline: none}*/

.custom-selected { font-weight: bold; }

.custom-btn { transition: all 0.2s ease; }
.custom-btn:hover {
    transform: translate(-4px, -4px);
    box-shadow: 4px 4px 0 var(--color-black);
    border: 1px solid var(--color-black);
}
