.bg {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.header {
    display: flex;
    justify-content: flex-end;
}

.content {
    display: flex;
    flex-direction: column;
    gap: var(--padding-small);
}

.modal {
    padding: var(--padding-small);
    background-color: var(--color-background);
    box-shadow: var(--box-shadow-medium);
    width: 300px;
}
