/*noinspection ALL*/
@font-face {
    font-family: "FT Calhern";
    src: url("/fonts/FTCalhern/FTCalhern-Bold.woff2") format("woff2"),
    url("/fonts/FTCalhern/FTCalhern-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/*noinspection ALL*/
@font-face {
    font-family: "FT Calhern Condensed";
    src: url("/fonts/FTCalhern/FTCalhern-CondensedRegular.woff2") format("woff2"),
    url("/fonts/FTCalhern/FTCalhern-CondensedRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*noinspection ALL*/
@font-face {
    font-family: "FT Calhern Hairline";
    src: url("/fonts/FTCalhern/FTCalhern-Hairline.woff2") format("woff2"),
    url("/fonts/FTCalhern/FTCalhern-Hairline.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*noinspection ALL*/
@font-face {
    font-family: "FT Calhern";
    src: url("/fonts/FTCalhern/FTCalhern-Light.woff2") format("woff2"),
    url("/fonts/FTCalhern/FTCalhern-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/*noinspection ALL*/
@font-face {
    font-family: "FT Calhern";
    src: url("/fonts/FTCalhern/FTCalhern.woff2") format("woff2"),
    url("/fonts/FTCalhern/FTCalhern.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*noinspection ALL*/
@font-face {
    font-family: "FT Calhern";
    src: url("/fonts/FTCalhern/FTCalhern-RegularItalic.woff2") format("woff2"),
    url("/fonts/FTCalhern/FTCalhern-RegularItalic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

/*noinspection ALL*/
@font-face {
    font-family: "FT Calhern Wide";
    src: url("/fonts/FTCalhern/FTCalhern-WideBold.woff2") format("woff2"),
    url("/fonts/FTCalhern/FTCalhern-WideBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
